<launch>
    <arg name="open_rviz"          default="false"/>
    <arg name="puck_confirm_hits"  default="3"/>
    <arg name="puck_cluster_r"     default="0.3"/>
    <arg name="puck_stale_timeout" default="5.0"/>

    <!-- ===== SLAM ===== -->
    <include file="$(find foraging_bringup)/launch/gmapping.launch"/>

    <!-- ===== Navigation ===== -->
    <include file="$(find foraging_bringup)/launch/move_base.launch"/>

    <!-- ===== Perception (puck + ArUco pipelines) ===== -->
    <include file="$(find foraging_bringup)/launch/perception.launch">
        <arg name="puck_confirm_hits"  value="$(arg puck_confirm_hits)"/>
        <arg name="puck_cluster_r"     value="$(arg puck_cluster_r)"/>
        <arg name="puck_stale_timeout" value="$(arg puck_stale_timeout)"/>
    </include>

    <!-- ===== Foraging service servers ===== -->
    <include file="$(find foraging_bringup)/launch/services.launch"/>

    <!-- ===== Visualization ===== -->
    <group if="$(arg open_rviz)">
        <node pkg="rviz" type="rviz" name="rviz"
              args="-d $(find foraging_bringup)/rviz/foraging_rviz_config.rviz"/>
    </group>
</launch>
